fastapi==0.111.1
uvicorn==0.30.3
python-multipart==0.0.9
python-jose==3.3.0
passlib==1.7.4
sqlalchemy==1.4.39
psycopg2==2.9.9
python-decouple==3.8
PyJWT==2.4.0
jose==1.0.0
xlrd==2.0.1
openpyxl==3.0.10
pillow==9.4.0
fpdf==1.7.2
prometheus-fastapi-instrumentator==7.1.0
APScheduler==3.11.0