#DATABASE
DB_HOST="localhost"
DB_PORT="5432"
DB_USER=""
DB_PASSWORD=""
DB_DBNAME="project_job"

#TOKEN
SECRET_KEY_TOKEN=""
SECRET_KEY_REFRESH_TOKEN=""
SECRET_KEY_CONTACT_TOKEN=""

ALGORITHM="HS256"
TOKEN_EXPIRES_HOURS="24"
REFRESH_TOKEN_EXPIRES_HOURS="168"
